.product-listing{
    display: flex;
    align-items: flex-start;
    gap:2rem;
    margin: 2rem 0.5rem;
}

.filters-listing{
    width: 600px;
    /* border-right: 2px solid brown; */
    cursor: pointer;
    margin: 0 0.5rem;
}
.filters{
    display: flex;
    justify-content: space-around;
    
}
.input-filters{
    display: flex;
    margin: 0 2rem;
}

.products-card{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}

.card{
    width: 22rem;
    height: auto;
    border: 2px solid blueviolet;
    border-radius: 1.2rem;
}
.card-img{
    width: 21.8rem;
    height: 22rem;
    border-radius: 1rem;
}

.padding-right{
    padding: 1rem;
}
.brand,.size{
    color: gray;
    font-weight: bold;
}
.name{
    font-size: 1.2rem;
}
.price{
    display: flex;
    place-items: center;
    gap:1rem;
}

.currentPrice{
    font-weight: bold;
}

.discount-price{
    text-decoration: line-through;
    color: gray;
}

